[2019-07-02 11:16] mortensassi commented on #118
I'm trying to use `assetPath` with `{{ source(myPath) }}` but unfortunately i get an error:

[code]

when i copy the url-path i can open the svg. Any help would be great!

[2019-07-02 11:50] marcinkrzeminski commented on #118
Hi @mortensassi,

Did you try to use `{{ assetPath(path) }}`?

[2019-07-02 11:57] mortensassi commented on #118
@marcinkrzeminski Yeah and it works, but i want to extract the SVG code so i can embed it inline when i need it.

`dump(assetPath('images/logo.min.svg'))` outputs this:

`/app/public/wp-content/plugins/timber-library/vendor/twig/twig/lib/Twig/Extension/Debug.php:60:string '//localhost:3000/wp-content/themes/MYSITE/dist/assets/images/logo.min.svg' (length=71)`

[2019-07-02 12:31] marcinkrzeminski commented on #118
@mortensassi I see.

In that case you have two options.

1. Use a global definition for you SVGs. I usually create a component like icons.twig and include it after `<body>`. Here's an example:

[code]

Once that done you can reuse is like this:

[code]

2. Create a component like `logo.twig` and use it like this `{% include 'components/logo.twig' %}` wherever you want. Keep in mind you can pass va

[2019-07-02 13:21] mortensassi commented on #118
@marcinkrzeminski thank you! I also used the first approach but i have noticed an increase in the filesize of every document (Start, about, etc.) because of a lot of icons that end up not used in some pages so i thought about storing SVGs each in the `assets/images` folder and working with the `{{ source  }}` function to inject only the XML-Code i need.

A plugin which acts like the media uploader

[2019-07-02 14:00] marcinkrzeminski commented on #118
@mortensassi It all depends on the use case. If you have a few icons I'd say it's not a big deal. Even with bigger number + gzip + caching not a big deal as well in my opinion. It's the same as using sprite images back in the days :).

However, now I fully get it what you have in mind. I've tried these and it worked for me:

[code]

Hope that helps ;).

[2019-07-17 16:41] robertguss commented on #250
you might want to check out lint-staged: https://github.com/okonet/lint-staged & husky: https://github.com/typicode/husky

When used in combination you can setup lint-staged to run various linters for whatever file types you would like by utilizing a git pre-commit hook. Both of these packages make it very simple to do.

[2019-07-18 07:38] luboskmetko commented on #250
Thanks for the tip, @robertguss!

[2019-07-19 17:33] marcinkrzeminski opened #430 "Add support for building Gutenberg blocks"
Hey,

I'm playing around with Gutenberg lately and it's not easy to make it work with Chisel. There's an official npm package: https://www.npmjs.com/package/@wordpress/scripts. Not sure how hard would it be to integrate with our workflow but this might be an extra point for Chisel.

[2019-07-22 12:17] mortensassi commented on #430
take a look at `create-guten-block` it‘s awesome:

https://github.com/ahmadawais/create-guten-block

no need for integration since you create a wp-plugin which extends your blocks

[2019-07-22 12:56] #423 closed

[2019-07-22 12:58] luboskmetko commented on #428
Closed with #

[2019-07-22 12:58] #428 closed

[2019-07-22 13:03] luboskmetko opened #431 "Update generator dependencies"

[2019-07-22 13:40] luboskmetko commented on #410
Closed with #424

[2019-07-22 13:40] #410 closed

[2019-07-22 13:44] marcinkrzeminski commented on #430
Hi @mortensassi

I already did, thanks 👍. I was thinking of something out of the box in Chisel. I'm testing some solution at the moment. Will share more details if I succeed ;).

[2019-07-22 14:35] #431 closed

[2019-08-15 16:18] mortensassi opened #433 "Unable to load the "Chisel\Extensions/Twig" runtime"
When i try to register a new TwigFunction like this:

[code]

I get an error: `Fatal error: Uncaught Twig_Error_Runtime: Unable to load the "\Chisel\Extensions\Twig" runtime.`

[2019-08-15 16:29] marcinkrzeminski commented on #433
Hey,

can you please try this snippet?

[code]

[2019-08-15 16:31] mortensassi commented on #433
Hey Marcin,

thank you for your reply. `$this` fixed the issue :) I took a look at `ChiselTwig.php` and saw the difference there.

[2019-08-15 16:31] #433 closed

[2019-08-29 19:42] marcinkrzeminski opened #434 "Add more details in style.css"
How about extending the comment section in style.css to promote Chisel a little bit?

I'm thinking about something like this:

[code]

[2019-08-29 20:00] marcinkrzeminski opened #435 "Add *.zip to .gitignore"

[2019-08-29 20:04] marcinkrzeminski opened #436 "Add alt for an image in tease.twig"

[2019-08-29 20:06] marcinkrzeminski opened #437 "Make the search title translatable"
https://github.com/xfiveco/generator-chisel/blob/8a1f5de6157ae11f9ee643e5aa389519ebba0faa/generators/wp/templates/chisel-starter-theme/search.php#L11

[2019-08-29 20:09] marcinkrzeminski opened #438 "Change typo in registerTwigFunctions"
https://github.com/xfiveco/generator-chisel/blob/8a1f5de6157ae11f9ee643e5aa389519ebba0faa/generators/wp/templates/chisel-starter-theme/Chisel/Extensions/Twig.php#L38

I think it should be `$this->registerFunction`

[2019-08-29 20:10] marcinkrzeminski opened #439 "Add Customizer.php example file"
I'm using Customizer in every project. How about creating a template for it?

[2019-08-29 20:15] marcinkrzeminski opened #440 "Change directory name templates to views"
I like to keep my custom PHP templates in the `templates` directory for better file organization. How about we change the default templates directory into views? This shouldn't break old project right?

[2019-08-29 20:24] marcinkrzeminski opened #441 "Use WordPress logic to load CSS and JavaScript"
I have been doing this in my latest projects and it works really good. It makes it much more flexible and like it should be actually (using dependencies logic, etc). Here's how it looks on my end in a sample project.

1. Remove references to our CSS and JS files from base.twig
2. Load Chisel JS the WordPress way
[code]

Since we have jQuery in the list of dependencies in most cases there's no need

[2019-08-29 20:29] marcinkrzeminski opened #442 "Add an alternative versions of jQuery"
How about adding jQuery Slim?
https://code.luasoftware.com/tutorials/webpack/force-jquery-slim-import-in-webpack/
or https://sizzlejs.com/ as extra options?

With some info like use Slim if you don't need Ajax, etc, or Sizzle if you want just a selector engine.

[2019-08-30 13:55] marcinkrzeminski opened #443 "Make the 404 page message translatable"
https://github.com/xfiveco/generator-chisel/blob/6ef0413a5f1774c253dc3109511238b08a6c9fa5/generators/wp/templates/chisel-starter-theme/templates/404.twig#L4

[2019-08-30 14:00] marcinkrzeminski opened #444 "Add l18n support for string translation"
How about introducing a new option in the generator that's responsible for creating a text-domain? By default, it could be generated based on a project name. This way we could use that text domain in the related issues #443 and #437.

To make sure it works we should use this code snippet

[code]

Most likely in the `Theme.php` file.

[2019-08-31 23:46] cbirdsong opened #445 "Documentation site is now a superhero generator"
Steps to reproduce:

1. Visit getchisel.co.

[2019-09-02 07:04] luboskmetko commented on #445
@cbirdsong thanks, probably was some misconfiguration on our side but should be ok now.

[2019-09-02 07:04] #445 closed

[2019-09-02 18:58] marcinkrzeminski opened #446 "Enable CSS grid support for Autoprefixer"
In order to enable the CSS grid Autoprefixing (for example supporting IE11 🤷‍♂️) we should update our code snippet to this in `gulp/tasks/styles.js`:

[code]

[2019-09-16 16:50] marcinkrzeminski opened #447 "Add skip link"
It's an a11y good practice to have a skip link.

It's might look like something like this:

`templates/layout/base.twig`
[code]

`src/styles/utilities/_hide.scss`

[code]

[2019-10-25 09:55] marcinkrzeminski opened #448 "Add front-page.twig in page.php"
Add an option for a `front-page.twig` template in `page.php`.

Code is very similar to what we have in `index.php`

[code]

[2019-10-30 15:45] mortensassi opened #451 "[question] keep project updated"
I'm not sure if i can just update all the dependencies in package.json in order to tackle all the vulnerabilities that get output from `yarn audit` – Is it safe to upgrade to the latest versions? i guess not? Is there a good workflow in how to keep my project in sync with your latest changes?

[2019-10-30 15:59] mortensassi opened #452 "Prevent "regeneratorRuntime is not defined""
I came around an issue while using async functions, like in [this post](https://github.com/babel/babel/issues/8829#issuecomment-481210475) and the last comment helped me solving this problem in my chisel project – Maybe it's something you consider implementing.

[2019-10-31 07:08] luboskmetko opened #453 "Update generator dependencies"

[2019-10-31 12:16] luboskmetko commented on #451
@mortensassi do you mean vulnerabilities in a generated project or in the Chisel generator itself? In the generated project there only seems to be 6 vulnerabilities with high severity, all coming from Gulp. We use the latest 3.* version (3.9.1), unfortunately we haven't had time to upgrade to 4.* yet (upgrading Gulp to v4 would most likely not work out of box)

Regarding Chisel itself, we plan to

[2019-10-31 12:19] luboskmetko commented on #452
@mortensassi thanks for pointing that out.

@jakub300 maybe you could take a look when you have time?

[2019-11-23 10:13] marcinkrzeminski opened #455 "Build assets during first install"
The idea is to build all the assets during the first project install so when you open the project for the first it doesn't look ugly.

[2019-12-27 12:27] piotr-bajer commented on #453
It would be nice to update WP-CLI, currently, on PHP 7.4 it produces the following notice during `yo chisel` command:
`Deprecated: implode(): Passing glue string after array is deprecated. Swap the parameters in phar://lenovo/AppData/Roaming/nvm/v10.9.0/node_modules/generator-chisel/helpers/wp-cli.phar/vendor/wp-cli/wp-cli/php/WP
_CLI/DocParser.php on line 75
`

[2020-01-03 12:38] #451 closed

[2020-01-03 13:07] luboskmetko opened #457 "Update wp-cli"

[2020-01-03 14:26] #420 closed

[2020-01-03 14:28] #457 closed

[2020-01-03 15:04] luboskmetko commented on #453
@piotr-bajer @marcinkrzeminski hey guys, I've just published a [new version](https://github.com/xfiveco/generator-chisel/releases/tag/v0.16.1)  - can you check if updating generator with `npm i -g generator-chisel` updates WP-CLI as well? Thanks

[2020-02-11 14:10] marcinkrzeminski opened #459 "Make sure lang attribute holds current language"
Hey,

currently, we have the `en` hardcoded for the lang attribute. In order to fix that we should use
`{{ site.langauge }}` snippet. Here's how it should look like:

[code]

[2020-02-24 15:51] marcinkrzeminski opened #460 "Add suport for inline SVG via PostCSS"
Hey,

I'm using this in one of my projects. It would be cool to have it by default. What do you think?

https://www.npmjs.com/package/postcss-inline-svg-multipath

We can even combine it with these:

- https://www.npmjs.com/package/postcss-assets
- https://www.npmjs.com/package/postcss-svgo

More about that combo here: https://css-tricks.com/images-in-postcss/

[2020-04-14 09:14] piotrkulpinski commented on #453
@luboskmetko I've just generated WP project with PHP 7.4.4 and it went smoothly.

[2020-04-14 13:01] luboskmetko commented on #453
Thanks, @piotrkulpinski!

[2020-04-14 13:01] #453 closed

[2020-04-15 14:37] hitch90 opened #462 "Call to undefined function mysql_connect()"
I tried run `yo chisel` and after yarn install I had:

`Success: Database created.
PHP Fatal error:  Uncaught Error: Call to undefined function mysql_connect() in C:\xampp\htdocs\reksio\wp\wp-includes\wp-db.php:1661
Stack trace:
#0 C:\xampp\htdocs\reksio\wp\wp-includes\wp-db.php(631): wpdb->db_connect()
#1 C:\xampp\htdocs\reksio\wp\wp-includes\load.php(426): wpdb->__construct()
#2 C:\xampp\htdocs\

[2020-04-15 14:48] marcinkrzeminski commented on #462
Hey,

are you able to run these commands from the command line (cmd.exe)?

[code]

[2020-04-15 15:01] hitch90 commented on #462
[code]

[2020-04-16 08:35] luboskmetko commented on #462
@hitch90 thanks for reporting the issue. Can you install and run WP instance outside Chisel?

[2020-04-17 05:58] hitch90 commented on #462
yes

[2020-04-20 14:44] mortensassi commented on #363
Hey, i'm struggling with adding a `slugify` filter - I'm getting this error:

`Fatal error: Uncaught Twig\Error\RuntimeError: Unable to load the "\Chisel\Extensions\Twig" runtime. `

In `Chisel/Extensions/Twig`:

[code]

[2020-04-30 16:36] kieryk123 opened #463 "Problem when running existing project (Couldn't open vendor.json)"
Hi, I have following error when I try to run `gulp` command.
[code]
Could anyone help me? I've tried running on node v11 and v12.

[2020-04-30 16:37] kieryk123 commented on #463
I've checked and this file is present in mentioned directory. Inside I have empty array: `[ ]`

[2020-05-01 04:18] #463 closed

[2020-05-06 08:00] piotrkulpinski opened #464 "StyleLint warnings on fresh install"
Hi,

StyleLint is printing warnings on a Chisel's fresh install:
https://www.dropbox.com/s/yq0rwzx9zpy7a87/Screenshot%202020-05-06%2009.58.26.png?dl=0

[2020-05-31 22:16] mortensassi commented on #197
Any news on this? Still seeing the get_context method which is [deprecated](https://timber.github.io/docs/reference/timber/#context) and why are you using `Timber\Timber` instead of just a single `Timber`?

[2020-06-11 21:07] jakub300 commented on #438
Fixed in #395

[2020-06-11 21:07] #438 closed

[2020-06-29 12:29] jakub300 opened #465 "Rewrite with Webpack"
List below is WiP

### Existing Chisel Features
#### Ready
* [X] JS/SCSS bundling with hot reload in dev mode (now all with webpack)
* [X] JS/SCSS linting (improved configs)
* [X] Postcss support (autoprefixer)
* [X] WP: reload on twig/php changes in template
* [X] Create separate non-minified bundles during build
* [X] WP Config during creation (also available when setting up existing project as

[2020-07-06 10:59] luboskmetko commented on #465
@jakub300 tested it on Windows and works nicely for me.

[2020-07-17 21:16] mortensassi commented on #465
This is awesome news! Good job guys - Did you also take a look at Laravel mix? Going to try it out

[2020-09-20 18:21] adrianratajczak opened #468 "Virtual Hosts using Laragon"
Hi!
In my work environment, I use the latest version of Windows 10 and Laragon for PHP, MySQL, etc. Laragon also allows you to create virtual hosts using node.js.

I installed Chisel, then created the project and had access to it through *.test/wp domain

Then I ran the npm run dev command and here my problem started.

WordPress in the localhost:3000 domain was left without style, the webpack did

[2020-09-21 08:46] luboskmetko commented on #468
@adrianratajczak thanks for the feedback

@jakub300 can you take a look what could be a problem here? Thanks

[2020-09-21 09:45] jakub300 commented on #468
Hi @adrianratajczak,

Dev server expects WordPress on the top level directory on the domain, not `wp` subdirectory. You can try adjusting document root for domain in laragon generated apache config and make sure to adjust url in wp options.

Second option is adjusting path where scripts/styles are served on dev server, this can be done by adding special hook to object exported from `chisel.config.

[2020-09-23 14:39] adrianratajczak commented on #468
Hi @jakub300 ,
for Laragon I've created a custom Virtual Host file located **at X:\laragon\etc\apache2\sites-enabled** , changed the URL in wp-options table and everything works like charm.

After adding the hook from above nothing changed. Still, page served from BrowserSync is without any styles and scripts

[2020-10-08 17:27] marziolek commented on #465
@jakub300 I tried to generate project on Win10 and got error when database should be created:
Error: Too many positional arguments: 1

[2020-10-15 11:15] #89 closed

[2020-10-15 11:18] luboskmetko commented on #442
The new version won't support jQuery

[2020-10-15 11:18] #442 closed

[2020-10-15 11:23] luboskmetko commented on #254
This functionality is not available in the new version

[2020-10-15 11:23] #254 closed

[2020-10-15 11:25] #371 closed

[2020-10-15 11:27] luboskmetko commented on #381
@jakub300 is this still relevant even in the new version?

[2020-10-15 11:34] #460 closed

[2020-10-15 11:35] #452 closed

[2020-10-15 11:35] #459 closed

[2020-10-15 11:35] #189 closed

[2020-10-15 11:35] #446 closed

[2020-10-15 11:36] #455 closed

[2020-10-15 11:37] #464 closed

[2020-10-15 11:37] #271 closed

[2020-10-15 11:38] luboskmetko commented on #419
This is now a duplicate of #465

[2020-10-15 11:38] #419 closed

[2020-10-15 11:40] luboskmetko commented on #203
I guess the new version solves this, can we close this issue?

[2020-10-15 13:27] luboskmetko opened #469 "Code simplified header"
**Simplified header**

It the first phase we will build a simplified header:

* [x] logo
* [x] main navigation
* [x] GitHub icon pointing to https://github.com/xfiveco/generator-chisel

![image](https://user-images.githubusercontent.com/176712/96132706-021d8000-0efb-11eb-9af2-2ad087b585ce.png)

**Full header**

Refer to

![image](https://user-images.githubusercontent.com/176712/96132978-18c3d700-0

[2020-10-15 13:35] luboskmetko opened #470 "Review and update documentation for the new version"

[2020-10-15 13:37] luboskmetko opened #471 "Code homepage intro"
![image](https://user-images.githubusercontent.com/176712/96136989-5c6b1080-0efc-11eb-98ff-e7e0e7acd6f3.png)

* [x]  title
* [x]  description
* [x] `Get started` button points to Docs
* [x] `Learn more` scrolls to Why Chisel section
* [x] video/image placeholder - eventually this should be a YouTube video showing Chisel in action, but we might also start with another illustration

[2020-10-15 14:15] luboskmetko opened #472 "Code Why Chisel section on homepage"
* [x]  title
* [x]  static svg illustrations
* [x]  reasons with title and texts
* [x] CTA at the bottom (give Chisel a star)

![image](https://user-images.githubusercontent.com/176712/96141797-a9051a80-0f01-11eb-9649-d19aa1e7e5b5.png)

[2020-10-15 14:18] luboskmetko opened #473 "Code Built with Chisel on homepage"
* [x]  title
* [x] 4 thumbnails of websites built with Chisel point to specific websites (see the list below)
* [x] `Get started` button points to Docs

Websites list:

* https://www.montecarlodata.com/
* https://cluboenologique.com/
* https://www.payette.com/
* https://www.xfive.co/

**Slideshow navigation is not needed at the moment, we will start with 4 thumbnails.**

![image](https://user-imag

[2020-10-15 14:20] luboskmetko opened #474 "Code footer"
* [x] copyright with year automatically updating to the current year
* [x] Made with Chisel text

![image](https://user-images.githubusercontent.com/176712/96142430-5d9f3c00-0f02-11eb-99d2-4534bc46a6a6.png)

[2020-10-15 14:32] luboskmetko opened #475 "Code documentation page"
* [x] sidebar navigation pointing to documentation subpages
* [x] main content
* [x] On this page - on page navigation scrolling to subsections of the page

For the reference how this should work see https://nuxtjs.org/guides/get-started/installation

![image](https://user-images.githubusercontent.com/176712/96144071-0ef2a180-0f04-11eb-9bc0-c5c6cde33860.png)

[2020-10-15 14:34] luboskmetko opened #476 "Implement code highlighting"
For the code highlighting we could use https://highlightjs.org/static/demo/ and Shades of purple style

I've never worked with highlight.js but it is popular, actively developed and with low number of issues. If there's any problem with it we could use https://prismjs.com/ as an alternative (that's what we use on the current website).

[2020-10-15 14:35] luboskmetko opened #477 "Code about page"
Same like documentation page but without sidebar and on page navigation, only middle content.

[2020-10-15 14:36] luboskmetko opened #478 "Code previous / next navigation"
This is used on documentation pages:

![image](https://user-images.githubusercontent.com/176712/96144457-7ad50a00-0f04-11eb-877b-afab08808233.png)

[2020-10-15 14:37] luboskmetko opened #479 "Add basic content styling"
Basic content styles like titles, paragraphs, links, lists etc.

![image](https://user-images.githubusercontent.com/176712/96144595-a1934080-0f04-11eb-83ce-69174f7c8adb.png)

[2020-10-15 14:37] luboskmetko opened #480 "Style content tip"
A short tip with icon used in the content

![image](https://user-images.githubusercontent.com/176712/96144711-c25b9600-0f04-11eb-95d2-8be4166bfe0b.png)

[2020-10-15 14:40] luboskmetko opened #481 "Code full header"
Full header will contain:

* [ ] search from https://docsearch.algolia.com/
* [ ] GitHub starts count

![image](https://user-images.githubusercontent.com/176712/96145021-11093000-0f05-11eb-991b-1a31ad452a92.png)

[2020-10-15 14:41] luboskmetko opened #482 "Implement GitHub stars count"
Get and display number of stars from the Chisel repository

![image](https://user-images.githubusercontent.com/176712/96145161-3ac25700-0f05-11eb-921b-9c660c0974d6.png)

[2020-10-15 14:42] luboskmetko opened #483 "Apply for DocSearch by Algolia"
Once the new website is launched, we will apply for DocSearch - https://docsearch.algolia.com/apply/

[2020-10-15 14:43] luboskmetko opened #484 "Implement visual enhancements"
Here are a few visual enhancements suggested by Stano:

*  green blobs behind the illustration could be animated somehow like https://codepen.io/cassie-codes/pen/zWJxXj or https://codepen.io/team/Atcom/pen/oWJjYZ
* in the 3rd illustration with terminal, the cursor could blink and then `create chisel` could be typed automatically

[2020-10-15 14:45] luboskmetko opened #485 "Set up new website"
- [x] create branch of https://github.com/xfiveco/generator-chisel/tree/rewrite-with-webpack-docs
- [x] remove styles folder
- [x] put styles from clean project, as you go you may refactor some classes in templates or templates in general

[2020-10-18 10:38] spy15 commented on #465
Hi there
I run into the following problems;
After the Plug-in section (I've selected none) i got the Message;
[code]

After the Database Setup i got some errors like that:
[code]
So the command php was not found.
It copied all the files except for the Wordpress Installation. After that i installed WP and setup the Database and now it seams to work.

[2020-10-19 13:35] luboskmetko opened #486 "Create video showing Chisel in action"
Could be something like this, maybe even without commentary
https://egghead.io/lessons/gatsby-quick-start-with-gatsby-from-the-command-line-5bf2403a

[2020-10-21 06:03] luboskmetko commented on #465
@marziolek @spy15 thank you for trying new Chisel and for the reports.

@jakub300 can you take a look at those issues when you have time? Thanks

[2020-11-02 21:03] Fichtner21 commented on #462
i have the same problem, some solved this? That kind of problem exist only when i want to use WP CLI.

[2020-11-03 07:19] luboskmetko commented on #462
@Fichtner21 thanks for the report. Could you try the new version to see if the problem persists https://github.com/xfiveco/generator-chisel/issues/465?

[2021-01-19 15:40] mortensassi commented on #465
What do you guys think about [Laravel Mix](https://laravel-mix.com/) ? I have already used it with other custom themes and found it very easy to setup and extend to my needs.

[2021-05-03 06:57] #485 closed

[2021-05-03 06:58] luboskmetko commented on #469
@edenizk this looks like done except that link color in the main navigation isn't violet but black now.

[2021-05-03 13:52] edenizk commented on #469
Changed to violet(primary color)

[2021-05-03 16:20] edenizk commented on #471
Hey @luboskmetko,
- I usually use script for scrolling effect, would you want me to implement a script for scrolling? Or for the basic version, simple anchor id scrolling is enough? (We will probably need for the docs too tho)
- For the basic version will there be a video? I have created layout and styling if there will be a video. Would you want me to implement the logic too?

[2021-05-04 07:37] luboskmetko commented on #471
@edenizk

- I think smooth scrolling to an anchor would be more user friendly so you could implement something we could reuse on docs pages too
- we don't have a video yet, but neither illustration. So I think you could implement the logic and we'll figure out something with video in the meantime

[2021-05-04 07:41] luboskmetko commented on #469
Cool, thanks. I'm wondering if the hover effect could be changing to the orange.

Also the Chisel in logo is underlined currently.

[2021-05-04 17:17] marcinkrzeminski commented on #471
@luboskmetko, @edenizk I think there's no need to add a script for the scrolling. There's a CSS property wich you apply to the html element, and later on when you for example have an achor link like `<a href="#element">` it will scroll smoothly.

[code]

[2021-05-04 17:55] adamsfather commented on #471
Browser support: https://caniuse.com/?search=scroll-behavior%3A%20smooth%3B
--
*Stano Dzavoronok*
Product Development
Head of Goodiewebsite.com

Email: ***@***.***
Skype: xfiveco

Delivering digital products since 2005

On Tue, May 4, 2021 at 7:18 PM Marcin Krzemiński ***@***.***>
wrote:

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5

[2021-05-05 07:53] luboskmetko commented on #471
@marcinkrzeminski @adamsfather thanks, that could be enough.

[2021-05-05 18:05] edenizk commented on #476
Hi @luboskmetko, I see that Prism js implemented the project https://github.com/xfiveco/generator-chisel/blob/rewrite-with-webpack-docs-redesign/docs/src/scripts/app.js#L9
Is this task still valid?

[2021-05-06 10:35] luboskmetko commented on #476
@edenizk actually, yes. Can you try to use highlightjs with Shades of purple theme like mentioned above? I think that Prism implementation was just a temporary update to the existing code, but that code highlighting currently doesn't look that good (a few font colors are too dark)

[2021-05-12 14:10] luboskmetko commented on #475
@edenizk On this page links are coded as designed but now it looks like some margin between items wouldn't be bad. Here it's 0.75em https://www.screencast.com/t/3uaaNQ5LJk2

[2021-05-12 15:15] edenizk commented on #476
@luboskmetko, I understood, thank you for your answer. I will exchange with the Highlightjs

[2021-05-12 15:23] edenizk commented on #479
@luboskmetko, yes I also wanted to talk with you about that. We can exchange links with blue + underline. But if we will add an inline code just blue color then it can conflict with the bold text. What about if we will mark them as GitHub does? So for the inline code, it would look like in the image:
![image](https://user-images.githubusercontent.com/35309972/118000837-72cc3400-b346-11eb-9fd6-0952

[2021-05-13 11:39] luboskmetko commented on #479
@edenizk actually, I like that idea to do it similarly to GitHub. I've tried it here https://www.screencast.com/t/yXoRC0QJo and I think it's more readable in case of such heavy usage of inline code.

I've used background color from design, because there was such instance of inline code too (#F0F1F3), but also reduced the font-size to 0.889em, plus added some small padding.

[2021-05-14 06:39] luboskmetko commented on #475
hi @edenizk I have a few remarks to on this page navigation yet:

- when going from page with On this page navigation to a page without it, the main content jumps from middle to right like here https://rewrite-with-webpack-docs-redesign--getchisel.netlify.app/docs/setup. Could we make it so the main content is centered even on the page without On page navigation?
- I would make the font-size of th

[2021-05-14 06:43] luboskmetko commented on #479
@edenizk styles for unordered lists are either missing or not displayed yet - should be small orange square like in the design. Thanks

[2021-05-14 06:49] luboskmetko commented on #478
@edenizk could we make Previous and Next text part of clickable area? Ideally this would be clickable area https://www.screencast.com/t/fCafbX1Ld. Thanks

[2021-05-14 17:42] edenizk commented on #475
- [x] Content centered even if it's without on-page navigation
- [x] On-page navigation font size reduced to 16px
- [x] Attribute added for disable on page sidebar

[2021-05-14 17:42] edenizk commented on #479
- [x] orange square added back

[2021-05-14 17:44] edenizk commented on #478
- [x] Clickable area increased like in the image

[2021-05-25 06:11] luboskmetko commented on #472
@edenizk can you please check illustrations when changing resolution? Seems they are loosing their aspect ratio and get distorted.

[2021-05-25 06:12] luboskmetko commented on #469
@edenizk can you make active link orange? So on About page, the About would be orange. Thanks

[2021-05-25 06:13] luboskmetko commented on #474
@edenizk looks ok, you can close this.

[2021-05-25 06:16] luboskmetko commented on #471
@edenizk can you please link `Get started` button directly to [Installation page](https://rewrite-with-webpack-docs-redesign--getchisel.netlify.app/docs/installation)?

Also once the video is done, I would upload it to Xfive's Youtube and we could embed it.

[2021-05-25 06:18] luboskmetko commented on #473
@edenizk thumbnails seems to be distorted below 1024px resolution. Please, also link Get started directly to Installation page. Thanks

[2021-05-25 06:19] luboskmetko commented on #476
@edenizk this looks fine, you can close the issue.

[2021-05-25 06:23] luboskmetko commented on #480
@edenizk can you please show this in action? That tip displayed above is on https://rewrite-with-webpack-docs-redesign--getchisel.netlify.app/docs/setup/static (the last paragraph before section 3.) Thanks

[2021-05-25 06:25] luboskmetko commented on #475
@edenizk this looks ok, please close.

[2021-05-25 06:25] luboskmetko commented on #479
@edenizk I think we have everything here, you can close this.

[2021-05-25 06:27] luboskmetko commented on #478
@edenizk seems ok, please close.

[2021-05-25 07:31] marcinkrzeminski opened #490 "Add "empty" scrollbar when there's less content"
Hey,

please add the `overflow-y: scroll` property to the HTML element, so we can avoid horizontal content jumping.

Video here: https://cln.sh/loLBME

[2021-05-25 14:25] #478 closed

[2021-05-25 14:26] #474 closed

[2021-05-25 14:27] #476 closed

[2021-05-25 14:28] #475 closed

[2021-05-25 14:28] #479 closed

[2021-05-25 16:50] edenizk commented on #472
@luboskmetko,

- [x] fixed the ratio problem

[2021-05-25 16:52] edenizk commented on #469
@luboskmetko, I've changed the active link color to orange

[2021-05-25 16:55] edenizk commented on #471
@luboskmetko,
Get started button link changed.
Sure once we will upload I can place the link 🙂

[2021-05-25 16:58] edenizk commented on #480
@luboskmetko, I've added the tip styling to the place you mentioned.
Earlier I've also added here for a demo: https://rewrite-with-webpack-docs-redesign--getchisel.netlify.app/docs/setup/wordpress
But let me know if it was a mistake. I can remove the tip styling from it.

[2021-05-26 14:10] luboskmetko commented on #480
@edenizk thanks, it can stay there, I didn't notice it before :)

[2021-05-26 14:10] #480 closed

[2021-05-26 14:11] luboskmetko commented on #486
@edenizk just assigning this to you, so you can close it then

[2021-05-26 14:11] luboskmetko commented on #472
Thanks, looks good.

[2021-05-26 14:11] #472 closed

[2021-05-26 14:12] luboskmetko commented on #469
Thanks

[2021-05-26 14:12] #469 closed

[2021-05-26 14:13] luboskmetko commented on #473
Looks good, thanks

[2021-05-26 14:13] #473 closed

[2021-05-26 14:14] #477 closed

[2021-05-26 15:44] edenizk commented on #490
Hi @marcinkrzeminski,

Thank you for letting me know about it 🙂.

I have added `overflow-y: auto` to the HTML element. adding `scroll` is causing short pages to look a bit strange
e.g. https://rewrite-with-webpack-docs-redesign--getchisel.netlify.app/about

What is the browser you are using? I couldn't recreate the problem.
If you could verify that issue has been fixed on your end, I would be glad

[2021-05-26 15:55] marcinkrzeminski commented on #490
@edenizk to me it looks strange when the page is jumping ;), but maybe that's my personal preference. I'm on macOS using Brave browser, but it looks the same on Chrome or Firefox as well.

[2021-05-27 09:32] luboskmetko commented on #486
@edenizk you can close this now

[2021-05-27 09:46] luboskmetko commented on #471
@edenizk can you please update home page title in the HTML head to "Chisel - A modern development framework for WordPress and static websites" so it's not just "Home - Chisel". Thanks

[2021-05-27 17:29] edenizk commented on #490
Hi @marcinkrzeminski,

I am using brave too, but in Windows 😁

Thank you for letting me know. I didn't notice sth on my BrowserStack tests, but I will try once more with both Chrome and Firefox 🙂

[2021-05-27 17:30] #486 closed

[2021-05-27 17:45] edenizk commented on #471
@luboskmetko, Changed to "Chisel - A mode..."

[2021-05-28 09:26] luboskmetko opened #491 "Create Features page"
At the current site Features are listed on the home page, but on the current site the home is simplified so there isn't a place for it. We could add it to Docs section

[2021-05-28 09:31] luboskmetko commented on #491
On the home page in Why Chisel section, the last item, the word `features` than can link to this page.

[2021-05-28 18:28] edenizk commented on #471
@luboskmetko, I've updated the links

[2021-05-28 18:31] edenizk commented on #491
@luboskmetko, I have link to the docs page https://rewrite-with-webpack-docs-redesign--getchisel.netlify.app/docs
If the features section will get more content I can link directly to the /docs#features

[2021-05-29 15:35] edenizk commented on #470
Hi @luboskmetko ,

**[wildcard virtual hosts setup for Linux](https://rewrite-with-webpack-docs-redesign--getchisel.netlify.app/docs/installation/wildcard-virtual-hosts#linux)**
 which you've mentioned, I can remove that, but then the users will not have the Linux setup.
You can view previous content on the [Wayback Machine](https://web.archive.org/web/20200219082058/http://brunodbo.be/blog/2013/0

[2021-05-31 07:25] luboskmetko commented on #491
@edenizk Thanks, but I meant it a bit differently, can you please add it as displayed here https://www.screencast.com/t/Qjkz8bnYZSdP? So a separate page, first in the navigation in the docs. It was mentioned in a comment in that Google docs, but maybe a bit confusing. Thanks!

[2021-05-31 07:43] luboskmetko commented on #470
@edenizk

- good find with the Wayback machine, please link to it
- that page `Setting up WordPress projects at Getfives` we will have to move from GitHub to new Xfive wiki. For now, please link to the article you found
- not sure about that post object, but if we refer to this https://rewrite-with-webpack-docs--getchisel.netlify.app/docs/development/static-content and it seems it has that descrip

[2021-05-31 16:39] edenizk commented on #470
@luboskmetko,

I've made the first 2 changes, actually, I see that it's also missing in the link you've shared.

![image](https://user-images.githubusercontent.com/35309972/120220607-50d71a80-c23d-11eb-92a4-742e63e0c1bd.png)

[2021-05-31 16:40] edenizk commented on #491
I have fixed the section like in the image you've shared

[2021-06-01 06:31] luboskmetko commented on #470
@edenizk thanks, got it. Indeed, it looks like there was missing content there. So if that's what it stores, it looks fine to me :)

[2021-06-01 06:34] luboskmetko commented on #491
@edenizk thanks, looks good. Just a small fix, please add "that" here "Chisel features _that_ will make your developer’s life easier."

[2021-06-01 16:34] edenizk commented on #470
@luboskmetko, Ok so I will be keeping the content I've added :)

[2021-06-01 16:34] edenizk commented on #491
@luboskmetko, I have changed the phrase :)

[2021-06-02 06:05] #490 closed

[2021-06-02 06:08] luboskmetko commented on #471
@edenizk two small things here yet and you can close this:

- [ ] embed shorter video https://www.youtube.com/watch?v=RIJ8Z_gBh5s
- [ ] link the word "features" in the last section to https://rewrite-with-webpack-docs-redesign--getchisel.netlify.app/docs/features

[2021-06-02 06:09] #470 closed

[2021-06-02 06:12] luboskmetko opened #492 "Add Google Analytics"
@edenizk please add Google analytics code to the header like on the current site:

[code]

[2021-06-02 19:49] #471 closed

[2021-06-02 19:54] edenizk commented on #492
Hi @luboskmetko, I have added/enabled the google tag.

[2021-06-03 08:17] luboskmetko commented on #492
@edenizk thanks

[2021-06-03 08:17] #492 closed

[2021-06-04 11:47] luboskmetko opened #493 "Fix ESLint error on project creation"
Creating project with `chisel create` ends with the following error both for WP and static site project type:

[code]

[2021-06-07 12:03] luboskmetko opened #494 "Add custom 404 page"
@edenizk can you please add a custom 404 page? Can be as simple as https://www.screencast.com/t/ra1juvrYtA3. Talk to @jakub300 if some configuration on Netlify is required. Thanks

[2021-06-07 14:22] edenizk opened #495 "Too many arguments issue on setup without yarn"
I found the problem causing too many arguments, if you will look at my setup without yarn(image 1) and with yarn(image 2) you will see that npx is somehow diving process.argv into nodes whenever there is a space. I was reading that we can either wrap inside another quote(e.g '"SELECT 1"' ), or wrapping between `SELECT 1`, or with replace 'SELECT 1'.replace(/ /g, '\\ ') (not sure if it will work in

[2021-06-07 18:20] edenizk commented on #494
@luboskmetko, I have added the 404 page you can view on https://www.getchisel.co/there-is-no-page-like-this 🙂

[2021-06-08 06:05] luboskmetko commented on #494
Cool, thanks!

[2021-06-08 06:05] #494 closed

[2021-06-08 06:09] luboskmetko commented on #495
@edenizk thanks for researching this.

@jakub300 can you advise on this? Seems to be pretty common issue (recently one of our candidates got into that too). Thanks

[2021-06-08 06:15] luboskmetko commented on #414
@edenizk can you please take a look on this yet?

[2021-06-08 12:42] luboskmetko opened #497 "Update project index page"
When developer creates a static website with new Chisel with the project index for templates, it still uses the old design - https://www.screencast.com/t/ImWLz7rgj.

Can you update it according new design? It can look simple like now, just matching fonts and colors, no images are needed. I think everything is one template file so you can follow what's there but of course feel free to improve it.

[2021-06-10 11:04] luboskmetko commented on #414
Looks good to me

[2021-06-10 11:05] #414 closed

[2021-06-17 09:19] #497 closed

[2021-06-17 09:19] #493 closed

[2021-06-21 14:39] luboskmetko opened #500 "Update dependencies"
Update dependencies in Chisel itself and in generated projects

[2021-06-28 00:25] jakub300 opened #502 "Setup travis-ci.com"
Hi @luboskmetko,

It looks like travis-ci.org has been deprecated and it's not running tests anymore and migration to https://travis-ci.com/ is necessary.

After logging to travis-ci.com go to https://travis-ci.com/account/migrate, enable beta migration, setup Github App with access to generator-chisel repo (not sure if enabling beta or app setup is first) and migrate generator-chisel repository.

[2021-06-28 13:42] luboskmetko commented on #502
@jakub300 should be done. Let me know if anything else is needed

[2021-09-15 08:00] marziolek opened #505 "sanitize.css version downgrade from 13.0.0 to 12.0.1"
for reference https://github.com/csstools/postcss-normalize/issues/58

[2021-09-15 08:10] #505 closed

[2021-09-15 10:57] marziolek opened #506 "Resultions for sanitize.css"
package.json needs
  "resolutions": {
    "sanitize.css": "12.0.1"
  },

[2021-09-19 12:03] edenizk commented on #506
Hi @luboskmetko,

I have added the sanitize.css to the resolutions you can see in this [PR](https://github.com/xfiveco/generator-chisel/pull/507). There is one problem, it will create a problem for ppl who are not using yarn because npm doesn't support "resolutions".
Some solutions I've found is using this package for converting resolutions for npm users https://www.npmjs.com/package/npm-force-res

[2021-09-20 00:29] jakub300 commented on #506
@edenizk could you create a issue in postcss-normlize asking to backport the fix to v9 https://github.com/csstools/postcss-normalize/pull/60 ?

[2021-09-27 21:17] edenizk commented on #506
@jakub300, I think this is a related issue https://github.com/csstools/postcss-normalize/issues/62

[2021-09-29 22:35] jakub300 commented on #506
Hi all, I created [@jakub300/postcss-normalize](https://www.npmjs.com/package/@jakub300/postcss-normalize) that should work fine and released new chisel version (generator-chisel@1.0.0-alpha.13)

[2021-11-17 10:28] marcinkrzeminski opened #508 "Use ::before, ::after the right way"
Minor thing, but still ;).

[code]

We're using `:before` instead of `::before`. Same goes for after.

[2021-11-21 03:31] jakub300 commented on #495
This issue is caused by bugs in npm (v6 if I remember correctly) on Windows. Issue is not happening after updating npm or using yarn.

[2021-11-21 03:31] #495 closed

[2021-11-26 08:49] marcinkrzeminski opened #510 "Add proper code for post-formats"
Our current implementation `add_theme_support( 'post-formats' );` throws PHP Notice

[2022-01-04 14:36] anatter commented on #465
I also encountered this issue. Did you find a solution?

[2022-01-04 14:40] #502 closed

[2022-01-04 14:42] marziolek commented on #465
I didn't have that issue since last time. You should check your local setup, node version, mysql etc.

[2022-01-04 14:46] luboskmetko commented on #465
@anatter could you please check if you are not on npm v6 like described here https://github.com/xfiveco/generator-chisel/issues/495#issuecomment-974749414? Upgrading npm or using yarn should help. If not, let us know. Thanks

[2022-01-04 14:48] #203 closed

[2022-01-04 14:52] #381 closed

[2022-01-06 21:37] marcinkrzeminski opened #512 "Add missing wp_body_open"
Our `base.twig` template is missing a function that triggers `wp_body_open` hook that was introduced in version 5.2 of WordPress.

Here's a snippet that I use in my current project:

[code]

[2022-01-20 13:30] marcinkrzeminski opened #515 "Prevent overscroll?"
Hi,

what do  you think about adding the: `overscroll-behavior-y: none;` to the body element? This will prevent from overscrolling vertically. Personally, this drives me crazy, and I'm this with Stylish extension on every page :).

[2022-01-22 17:04] marcinkrzeminski opened #516 "Make use of WP_ENVIRONMENT_TYPE"
Since version 5.5 we have quite nice solution for getting the current environment: https://make.wordpress.org/core/2020/07/24/new-wp_get_environment_type-function-in-wordpress-5-5/

We might use it to replace `CHISEL_DEV_ENV`

[2022-02-25 13:25] piotrkulpinski opened #520 "Unify the config file naming convention"
Hi,
I just wanted to raise up a topic of pretty messy naming convention of config files used with webpack.
Some are using ."tool"rc.js option and some are using "tool".config.js which makes it hard to easily spot the config files you're looking for.

I think config files should be kept in ."tool"rc.js format to hide them in the file system or ideally, using a specific config property in package.js

[2022-04-04 12:39] piotrkulpinski opened #522 "devMiddlewareOptions hook should use options.output.base as a publicPath"
Hi,

I was just trying to move up the src into the theme folder. Not directly, but placed inside a subdirectory named `static` along with the dist folder.

While everything else went smoothly, I ran into an issue where my local server was not loading the generated static files.
After some research I found out, that it's trying to load them from a hardcoded path declared [here](https://github.com/x

[2022-10-12 08:27] WebCraftersStudio opened #527 "How can I edit eslint rules?"
Hello,

How can I set some additional rules in eslint for our project?

I need set:

max-nesting-depth: 4

Thanks.

[2022-10-13 05:52] luboskmetko commented on #527
@jakub300 can you please advise on this?

[2022-10-14 11:29] jakub300 commented on #527
Hi, looks like you're trying to edit stylelint rules. In generated project there is `stylelint.config.js` file, you can edit it and add your rule, for example:
[code]

[2022-10-19 15:40] marziolek opened #528 "Image conflict with latest WP Timber plugin"
https://github.com/xfiveco/generator-chisel/blob/master/packages/generator-chisel/lib/commands/create/creators/wp/chisel-starter-theme/Chisel/Extensions/ChiselTwig.php#L60
There is naming conflict here with latest Timber plugin version 1.21.0

Removing this definition and using Timber built in Image worked for me.